body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

p,ul {
    font-size: 14px;
}

.cursive {
    font-style: italic;
}

.center {
    text-align: center;
    width: auto;
}

.personal-photo {
    width: 100px;
    height: 100px;
    float:left;
}