/* Added Montserrat font*/
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Added Allura font*/
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.body_wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

/* Typography*/
.font-color-dark {
    color: var(--Dark, #181C29);
}
.font-color-white {
    color: var(--Static-White, #FFFFFF);
}
.font-color-red {
    color: var(--Primary, #FF4646);
}
.font-color-blue {
    color: var(--Tag-Purple, #4361FF);
}
.font-color-green {
    color: var(--Tag-Green, #06A44F);
}
.font-color-pink {
    color: var(--Tag-Pink, #FF43F7);

}

.font-family-montserrat {
    font-family: "Montserrat";
}
.font-family-allura {
    font-family: "Allura";
}

.font-weight-600 {
    font-weight: 600;
}
.font-weight-400 {
    font-weight: 400;
}

.font-style-normal {
    font-style: normal;
}

.font-size-12 {
    font-size: 12px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-36 {
    font-size: 36px;
}
.font-size-80 {
    font-size: 36px;
}

.line-height-100 {
    line-height: 100%;
}
.line-height-130 {
    line-height: 130%;
}
.line-height-148 {
    line-height: 148%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-152 {
    line-height: 152%;
}

.letter-spacing-0 {
    letter-spacing: 0em;
}

.letter-spacing-5 {
    letter-spacing: 0.05em;
}
.letter-spacing-8 {
    letter-spacing: 0.08em;
}
.letter-spacing-16{
    letter-spacing: 0.16em;
}

.uppercase {
    text-transform: uppercase;
}

/* Added background image */
.about, .slider, .best {
    background-image: url("images/bg-snow.png");
    background-color: #FF4646;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    background-image: url("images/bg-ball.png");
    background-color: #FF4646;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sales {
    background-image: url("images/bg-forest.png");
    background-color: #FF4646;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Adjusted the size of the sections*/
.header {
    min-height: 64px;
}
.hero {
    min-height: 524px;
}
.about {
    min-height: 648px;
}
.slider {
    min-height: 488px;
}
.best {
    min-height: 554px;
}
.sales {
    min-height: 668px;
}
.contacts {
    min-height: 496px;
}

/* Adjusted the size of containers */
.hero {
    width: 1440px;
    height: 524px;
}
.hero-container {
    width: 426px;
    height: 404px;
}
.about_container {
    width: 1276px;
    height: 528px;
}
.slider_container {
    width: 1276px;
    height: 368px;
}
.best_container {
    width: 1276px;
    height: 434px;
}
.sales_container {
    width: 1276px;
    height: 548px;
}
.contacts_container {
    width: 1276px;
    height: 376px;
}

/*Adjusted images sizes*/
.icon {
    width: 24px;
    height: 24px;
}
.santa-snowman {
    width: 638px;
    height: 528px;
}
.snowman, .tree-presents, .christmas-ball {
    width: 200px;
    height: 200px;
}
.gift-work, .gift-health, .gift-harmony, .gift-harmony {
    width: 310px;
    height: 230px;
}
.santa, .tree, .snake {
    width: 80px;
    height: 80px;
}
.telegram, .facebook, .instagram, .x {
    width: 24px;
    height: 24px;
}


/*Adjusted positioning*/
.header_container {
    display: flex;
    align-items: center;
}

.header_left-block {
    display: flex;
    width: 141px;
    height: 40px;
    padding: 20px 8px 20px 8px;
    gap: 8px;
    align-items: center;
}

.header_right-block {
    display: flex;
    width: 1123px;
    height: 40px;
    padding: 0px;
    gap: 0px;
    justify-content: end;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 426px;
    height: 404px;
}

.center {
    text-align: center;
}

.explore {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 56px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    background-color: #FFFFFF;
    display: flex;
}

.about_content-wrapper {
    display: grid;
    align-items: center;
    width: 638px;
    height: 528px;
}

.about_content-block {
    padding: 0 60px 0 60px;
    width: 426px;
    height: 328px;
}

.congratulations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.slider_content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best {
    display: grid;
    justify-content: center;
    align-items: center;
}

.best_container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1276px;
    height: 434px;
}

.best_content {
    display: flex;
    justify-content: space-between;
}

.first_card, .second_card, .third_card, .fourth_card {
    background-color: #FFFFFF;
    width: 310px;
    height: 342px;
}

.sales {
    display: grid;
    justify-content: center;
    align-items: center;
}

.sales_container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.sales_block {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 426px;
    height:428px;
}

.countdown_date {
    display: flex;
    width:344px;
    height:72px;
}

.contacts {
    display: grid;
    justify-content: center;
    align-items: center;
}
.contacts_container {
    display: grid;

}
.contacts_upper-block {
    display: flex;
    justify-content: space-around;
}
.contacts_phone {
    display: grid;
}
.contacts_meeting {
    display: grid;
}
.contacts_email {
    display: grid;
}

.footer_container {
    display: grid;
    justify-content: center;
}
.footer-icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 20px;
}

img, div {
    border-radius: 15px;
}

html {
  scroll-behavior: smooth;
}